%p Forgot your password, #{@user.name}?

%p Proceduresync received a request to reset the password for your Proceduresync account.

%p To sign in with your temporary password, click on the link below (or use the password #{@password} with your email login):
= link_to "Sign in the app", signin_url(email: @user.email, password: @password)

%p Check out our #{raw link_to("Support page", "https://proceduresync.freshdesk.com/support/home")} for more information.

%p From Proceduresync Support

