.div{class: "col-lg-#{div_length}"}
  .panel.panel-metric.panel-metric-sm
    .panel-body.panel-body-default
      .metric-content.metric-icon
        .value
          = current_company.type
        .icon
          %i.fa.fa-user
        %header
          %h4 Account Type