.col-lg-12.dashboard-panel
  .panel.panel-default
    .panel-heading
      %h4.link-face{:"data-url" => reports_path} Staff with outstanding Documents
  
    .table-responsive
      %table.table.table-bordered
        %tbody
          %tr
            %td
              .list-group.margin-sm#staff_with_outstanding_documents{:"data-url" => staff_with_outstanding_documents_path, :"data-scroll-load-enable" => "true", :"data-current-page" => 1, :"data-scroll-loading" => "false"}
          %tr.loading-wrapper
            %td
              .list-group
                .list-group-item

#show_unread_docs_modal
  = render "/shared/confirm_modal", modal: {title: "", content: "", accept_btn: "OK", disaccept_btn: "", accept_dismiss: true}