- data = UserService.staff_with_outstanding_documents(current_user, current_company)
- if data.length > 0
  - curr_time = BaseService.time_formated(current_company, Time.now.utc, "As of %l:%M%p %d/%m/%y")
  .col-lg-12.dashboard-panel#staff_with_outstanding_documents
    .panel.panel-default
      .panel-heading
        %h4.link-face{:"data-url" => reports_path} Staff with outstanding Documents

      .table-responsive
        %table.table.table-bordered
          %tbody
            %tr
              %td
                .list-group.margin-sm
                  - data.each do |item|
                    %a.list-group-item{:href => item[:href], :'data-uid' => item[:id], class: item[:a_class]}
                      %i.fa.fa-user.pull-left.large-icon
                      %h5.list-group-item-heading #{item[:name]}
                      %small.list-group-item-text 
                        #{curr_time} • 
                        %span.load-more-user-unread-docs{:'data-url' => load_more_unread_docs_user_path(:id => item[:id]), :'data-name' => item[:name]} #{pluralize(item[:unread_num], 'document')} unread

    #show_unread_docs_modal
      = render "/shared/confirm_modal", modal: {title: "", content: "", accept_btn: "OK", disaccept_btn: "", accept_dismiss: true}