#confirm_clean_sections_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", "data-load-modal-url" => load_delete_section_modal_company_path}
  .modal-dialog.resized-1
    .modal-content
      .modal-header
        %h3 Removing Sections
      .modal-body
        